<div id="user_head">
  <h1>User Profile</h1>
  <h1>Welcome, <%= current_user.name %></h1>
</div>

<p>
  User: <%= current_user.email %>
</p>

<%= link_to 'Edit Profile', edit_user_registration_path %>

<h3>Reviews:</h3>
<% if current_user.reviews.any? %>

  <ul>
    <% current_user.reviews.each do |review| %>
      <div class="well" id="review">
        <h4>Game:  <%= link_to review.game.name, game_path(review.game) %></h4>
        <h4>Rating:
          <% review.rating.times do %>
              <%= image_tag("kodama.png", :alt => "kodama rating", :id => "rating_icon") %>
          <%end%>
        </h4>
        <br>
        <p><%= review.body %></p>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>You have written no reviews yet!</p>
<% end %>
