
<%= render "layouts/errors", :object => @game %>

<%= form_for @game do |f| %>

  <p><%= f.label :name%></p>
  <%= f.text_field :name %><br><br>

  <p><%= f.label :description %></p>
  <%= f.text_field :description  %><br><br>

  <p><%= f.label :price %></p>
  <%= f.text_field :price %><br><br>

  <p><%= f.label :genre %></p>
  <%= f.select :genre, ['RPG', 'Shooter', 'Sports', 'MMO', 'Platformer'] %><br><br>

  <p><%= f.label :platform %></p>
  <%= f.select :platform, ['PS4', 'Xbox One', 'PC', 'Switch'] %><br><br>

  <p><%= f.label :image %> url</p>
  <%= f.text_field :image %><br><br>
  <hr>
  <%= f.submit :class => "btn btn-default" %>
<% end %>
