<h2>All Games</h2>
<% if @filter_type != nil%>
  <h3>Sorted by <em><%= @filter_type %></em></h3>
<% end %>

<%= link_to "Alphabetically", :sort_by => 'alphabetical' %> |
<%= link_to "Recent", :sort_by => 'recent' %> |
<%= link_to "PS4", :sort_by => 'ps4' %> |
<%= link_to "Xbox One", :sort_by => 'xbox' %> |
<%= link_to "PC", :sort_by => 'pc' %> |
<%= link_to "Switch", :sort_by => 'switch' %> |
<%= link_to "RPG", :sort_by => 'rpg' %> |
<%= link_to "Shooter", :sort_by => 'shooter' %> |
<%= link_to "Sports", :sort_by => 'sports' %> |
<%= link_to "MMO", :sort_by => 'mmo' %> |
<%= link_to "Platformer", :sort_by => 'platformer' %> |
<%= link_to "Highest Rating", :sort_by => 'rating' %>

<% if current_user && current_user.admin %>
  <h5>Admin Action: <%= link_to "Add New Game", new_game_path %></h5>
  <hr>
<% end %>


<table class="table">
    <thead>
      <tr>
        <th>Game Name</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>Reviews</th>
        <th>Average Rating</th>
        <th>Price</th>
        <!-- <th>Average Rating</th> -->
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><h4><em><%= link_to game.name, game_path(game) %></em></h4></td>
          <td><%= game.platform %></td>
          <td><%= game.genre %></td>
          <td><%= game.reviews.length %></td>
          <td>
            <% game.average_rating.round.times do %>
              <%= image_tag("kodama.png", :alt => "kodama rating", :id => "rating_icon") %>
            <%end%>
          </td>
          <td>$<%= game.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
