<h2><em><%= @game.name %></em></h2>
<h3>Platform: <%= @game.platform %>, Genre: <%= @game.genre %>, $<%= @game.price %></h3>

<h4>Description:</h4>
<p><%= @game.description %></p>

<%= image_tag("#{@game.image}", :alt => "avocado rating", :class => "game_img") %>

<hr>
<% if current_user && current_user.admin %>
  <h4>Admin Actions: </h4>
  <p><%= link_to "Edit", edit_game_path(@game) %></p>
  <p><%= link_to "Delete", game_path(@game),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"} %></p>

  <hr>
<% end %>
