<h2><em><%= @game.name %></em></h2>
<h3>Platform: <%= @game.platform %>, Genre: <%= @game.genre %>, $<%= @game.price %></h3>
<h3>Average Rating: <%= @game.average_rating %> Kodamas</h3>

<h4>Description:</h4>
<p><%= @game.description %></p>

<%= image_tag("#{@game.image}", :alt => "avocado rating", :class => "game_img") %>

<hr>
<% if current_user && current_user.admin %>
  <h4>Admin Actions: </h4>
  <p><%= link_to "Edit", edit_game_path(@game) %></p>
  <p><%= link_to "Delete Game", game_path(@game),
                           :data => { :method => "delete"} %></p>

  <hr>
<% end %>

<p><%= link_to "New Review", new_game_review_path(@game) %></p>
<h3>Reviews:</h3>
<% if @game.reviews.any? %>
  <h4>Here are the reviews for this game:</h4>

  <ul>
    <% @game.reviews.each do |review| %>
      <div class="well" id="review">
        <% if current_user && current_user.admin %>
        <p>Review Inappropriate? <%= link_to "Delete Review", review_path(review),
                                 :data => { :method => "delete"} %></p>
        <% end %>
        <h4>Author: <%= review.user.name %></h4>
        <h4>Rating:
          <% review.rating.times do %>
            <%= image_tag("kodama.png", :alt => "kodama rating", :id => "rating_icon") %>
          <%end%>
        </h4>
        <br>
        <p><%= review.body %></p>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviews yet!</p>
<% end %>
