<h2>Write a Review</h2>

<%= render "layouts/errors", :object => @review %>

<%= form_for [@game, @review] do |f| %>
  <%= f.label :body%>
  <%= f.text_field :body %>
  <%= f.label :rating %>
  <%= f.select :rating, ['1', '2', '3', '4', '5'] %>
  <br>

  <%= f.submit :class => "btn btn-default"%>
<% end %>
